
<head>


<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />


</head>

<body>

       

        


              <div id="container">
                    <p-card [style]="{'border':'10px solid black;'}">
                    
                    <p-header>
                    
                        <img src="/assets/dash2.png">
                        
                    </p-header>
                    
                    
                    <b> &nbsp; &nbsp; Account Balance=</b><br>
                    <br>
                    &nbsp; &nbsp; Account Number :
                    <br><br>
                    &nbsp; &nbsp;<a href=" "> View Details &rarr;</a>
                                
                    </p-card>
                    </div>
                    
                    <div id="container1">
                        <p-card>
                            
                            <p-header>
                            
                                <img src="/assets/dash3.png">
                                
                            </p-header>
                            
                            
                            <b> &nbsp; &nbsp; Account Balance=</b><br>
                            <br>
                            &nbsp; &nbsp; Account Number :
                            <br><br>
                            &nbsp; &nbsp; <a href="">View Details &rarr;</a>
                                
                            
                        </p-card>
                    </div>
                    
                    <div id="container2">
                        <p-card class="=usd">
                                    
                            <p-header>
                                    
                                <img src="/assets/dash4.png">
                                
                            </p-header>
                                    
                                    
                                <b> &nbsp; &nbsp; Account Balance=</b><br>
                                <br>
                                &nbsp; &nbsp; Account Number :
                                <br><br>
                                &nbsp; &nbsp; <a href="">View Details &rarr;</a>
                                    
                        </p-card>
                    </div>
                    
                    
                    
                    
                    <button (click)="myFunction()">End Of Day</button>
                    <div id="container3">
                    
                            <p-card [style]="{'width':'800px','height':'100px'}">
                        
                                <p-header>
                                   <b> &nbsp; &nbsp; Net Balance=  </b>
                                </p-header>
                        
                                    &nbsp; &nbsp; Suggestions
                            </p-card>
                        
                        </div>
                        

</body>


