<div class="split left">
        <div class="centered">
          <img src="./assets/personicon.jpg" alt="Personal info">
          <h3>Personal Information</h3>
          <p>For Updation, if any</p>
          <div class="container">
                <form>
              
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name">
              
                  <label for="email">Email ID</label>
                  <input type="text" id="email" name="mailID" placeholder="Email ID">
              
                  <label for="address">Address</label>
                  <textarea id="text" name="address" placeholder="Your full address" style="height:60px"></textarea>

                  
                <input type="submit" value="Update">
            </form>
            </div>

        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
          <img src="./assets/lockimage.png" alt="Account info">
          <h3>Account information</h3>
          <p>Static</p>
          <div class="container">
            <form>
                <label for="username">Username</label>
                <input type="text" readonly="username" name="username" placeholder="Non-Editable Username">
          
                <label for="password">Old Password</label>
                <input type="text" id="password" name="password" placeholder="Enter old password">
                
                <label for="password">New Password</label>
                <input type="text" id="password" name="password" placeholder="Enter a new secure password">

                <label for="password">Confirm Password</label>
                <input type="text" id="password" name="password" placeholder="Re-enter new password">
                
                <input type="submit" value="Change Password">
          
            </form>
          </div>
        </div>
      </div>